language: emacs-lisp

env:
  matrix:
    - EMACS=emacs23
    - EMACS=emacs24
    - EMACS=emacs-snapshot

matrix:
  allow_failures:
    - env:
        - EMACS=emacs-snapshot

install:
  - if [ "$EMACS" = "emacs23" ]; then
        sudo apt-get update -qq &&
        sudo apt-get install -qq emacs23-gtk emacs23-el;
    fi
  - if [ "$EMACS" = "emacs24" ]; then
        sudo add-apt-repository -y ppa:cassou/emacs &&
        sudo apt-get update -qq &&
        sudo apt-get install -qq emacs24 emacs24-el;
    fi
  - if [ "$EMACS" = "emacs-snapshot" ]; then
        sudo add-apt-repository -y ppa:cassou/emacs &&
        sudo apt-get update -qq &&
        sudo apt-get install -qq emacs-snapshot &&
        sudo apt-get install -qq emacs-snapshot-el emacs-snapshot-gtk;
    fi

script:
  $EMACS --version && $EMACS -Q --batch -l bytecomp --eval "
  (let ((byte-compile-error-on-warn t)
        (byte-compile-warnings t)
        (result t))
    (while command-line-args-left
      (setq result (and (byte-compile-file (car command-line-args-left)) result))
      (when (>= emacs-major-version 24)
        (require 'package)
        (with-temp-buffer
          (insert-file-contents-literally (car command-line-args-left))
          (condition-case err
              (package-buffer-info)
            (error (message \"%s\" (error-message-string err)) (setq result nil))))
      (pop command-line-args-left))
    (kill-emacs (unless result 1))))
  " *.el

notifications:
  email: false
